/********************
** Colors
********************/
$c-white:                #FFFFFF;
$c-black:                #121212;
$c-text:                 #2F3031;

$c-very-light-grey:	     #f5f5f5;
$c-light-grey:           #E0E0E1;
$c-grey:                 #CACBCF;
$c-med-grey:             #687681;
$c-dark-grey:            #505860;
$c-very-dark-grey:       $c-text;

$c-orange-primary:       #F47E20;
$c-dark-grey-primary:    #545F63;
$c-light-grey-primary:   #668089;
$c-green-primary:        #3C6F36;
$c-light-blue-primary:   #87D5F7;

$c-warning:              #ff0000;