.wrapper{

}

.bannerForeground{
  fill: $c-light-grey-primary;
}
.bannerMidground{
  fill: $c-dark-grey-primary;
}
.bannerBackground{
  fill: $c-green-primary;
}
#logo{
  background-image: url('./svg/logo.svg');
  background-repeat: no-repeat;
  display:block;
  position: relative;
  width: 100px;
  height:100px;
}

.forestBanner{
  svg{
    opacity: 0.5;
    position: fixed;
    bottom:0;
  }
}